body {
    background-image: linear-gradient( rgb(175, 207, 223), rgb(74, 155, 177), rgb(41, 91, 115));
    background-color:rgb(175, 207, 223);
    font-family: arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(74, 155, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: rgb(38, 116, 137);
  }

/*menu*/
.menu{
    height: 150px;
    padding: 1%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient( rgb(175, 207, 223), rgb(175, 207, 223), rgba(175, 207, 223, 0));
}

.menuUnderside{
    border: 2px solid rgb(74, 155, 177);
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: rgb(206, 247, 254);
    font-size: 25px;
}

.nuværendeUnderside{
    border: 3.5px solid rgb(47, 141, 167);
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: rgb(206, 247, 254);
    font-size: 25px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

/*Mockup */

#div1 {
width: 95%;
height: 600px;
background-color: rgba(211, 211, 211, 0.5);
margin: 2%;
}

#div2 {
    width: 95%;
    height: 600px;
    background-color: rgba(211, 211, 211, 0.5);
    margin: 2%;
    }

#div3 {
    width: 95%;
    height: 600px;
    background-color: rgba(211, 211, 211, 0.5);
    margin: 2%;
    }

#div4 {
    width: 95%;
    height: 600px;
    background-color: rgba(211, 211, 211, 0.5);
    margin: 2%;
    }

.visL {
    width: 40%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    }

.visR {
    width: 40%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    float: right;
    }

    #button1 {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        /* Tilføj yderligere styling efter behov */
      }
      