/* HTML Tags */

body {
  background-image: linear-gradient(
    rgb(119, 188, 222),
    rgb(59, 132, 152),
    rgb(24, 70, 91)
  );
  background-color: rgb(175, 207, 223);
  font-family: arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 28px;
  padding: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(74, 155, 177);
}

a:hover {
  color: rgb(38, 116, 137);
  cursor: pointer;
}

button {
  text-decoration: none;
  color: rgb(74, 155, 177);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  color: rgb(38, 116, 137);
}

.menu {
  height: 140px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(119, 188, 222, 0.9);
  border-bottom: 2px solid rgb(59, 132, 152);
  z-index: 100;
}
svg {
  display: block;
  margin: auto;
}

@keyframes swim {
  0% {
    transform: translateX(0) scaleX(1);
  }

  49% {
    transform: translateX(400%) scaleX(1);
  }
  50% {
    transform: translateX(450%) scaleX(-1);
  }
  51% {
    transform: translateX(400%) scaleX(-1);
  }

  100% {
    transform: translateX(0) scaleX(-1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HTML IDs */

#imgquiz {
  position: relative;
  width: 550px;
  height: 400px;
  border-radius: 68px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 15px;
  margin-bottom: 10px;
  object-fit: cover;
  padding: 7px;
  margin-bottom: 50px;
}
#quizdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#mapH1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

#heading {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

#buttonDiv {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#div1 {
  width: 95%;
  height: 800px;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 2%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#div2,
#div3,
#div4,
#div5 {
  width: 95%;
  height: 600px;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 2%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#sharks {
  width: 100%;
  height: 300px;
  margin: 2%;
}

#button1,
#button2,
#button3,
#button4,
#button5 {
  cursor: pointer;
  border: 2px solid rgb(74, 155, 177);
  border-radius: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  background-color: rgb(206, 247, 254);
  font-size: 25px;
}

#visualization2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

#chart-container {
  width: 100%;
  height: 100%;
}

#tooltipFatality,
.tooltip,
#tooltipActivity {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #303030;
  color: #ffffff;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  top: 5%;
  transform: translate(-50%, -50%);
}

#source {
  font-size: 7px;
  position: absolute;
  bottom: 10px;
}

.lilleshark {
  position: absolute;
  bottom: 100;
  left: -60%;
  transform-origin: center;
  animation: swim 31s linear;
}

.shark-delay {
  animation: delay 30s linear forwards;
  animation-delay: 30s;
}

@keyframes swim {
  0% {
    transform: translateX(0) scaleX(1);
  }

  49% {
    transform: translateX(400%) scaleX(1);
  }
  50% {
    transform: translateX(450%) scaleX(-1);
  }
  51% {
    transform: translateX(400%) scaleX(-1);
  }

  100% {
    transform: translateX(0) scaleX(-1);
  }
}

svg {
  display: block;
  margin: auto;
}

.country {
  stroke: #000000;
  stroke-width: 0.5;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  border-radius: 8px;
  position: relative;
}
.country:hover {
  fill: rgb(41, 91, 115);
  fill: #0dc6ff;
  stroke: #000000;
  transition: fill 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    stroke 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  z-index: 1;
  cursor: pointer;
}

#worldmap {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: #ee6055;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  30% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  65% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fin {
  position: absolute;
  width: 200px;
}

#fin1 {
  left: 10%;
  animation: fadeInOut 25s infinite;
}

#fin2 {
  left: 80%;
  top: 80%;
  transform: scaleX(-1);
  animation: fadeInOut 30s infinite;
}

#fin3 {
  top: 90%;
  left: 15%;
  animation: fadeInOut 40s infinite;
}

#fin4 {
  top: 77%;
  left: 38%;
  width: 80px;
  animation: fadeInOut 50s infinite;
}

#infoButton {
  cursor: help;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#infoButton:hover #infoBox {
  visibility: visible;
}

#infoBox {
  cursor: default;
  visibility: hidden;
  width: 350px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 50px;
  position: absolute;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
  padding: 10px;
}

/* HTML Classes */
.quiz-description {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

.infoText {
  font-size: 28px;
  padding: 10px;
  color: grey;
  text-shadow: 0px 0px 0px;
}

.menu {
  height: 140px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(119, 188, 222, 0.9);
  border-bottom: 2px solid rgb(59, 132, 152);
  z-index: 100;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.shark {
  position: absolute;
  bottom: 100;
  left: -50%;
  transform-origin: center;
  animation: swim 20s linear;
}

.littleshark {
  position: absolute;
  bottom: 100;
  left: -60%;
  transform-origin: center;
  animation: swim 31s linear;
}

.shark-delay {
  animation: delay 30s linear forwards;
  animation-delay: 30s;
}

.country {
  stroke: #000000;
  stroke-width: 0.5;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  border-radius: 8px;
  position: relative;
}
.country:hover {
  fill: rgb(41, 91, 115);
  fill: #0dc6ff;
  stroke: #000000;
  transition: fill 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    stroke 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  z-index: 1;
  cursor: pointer;
}

.source {
  font-size: 7px;
  text-align: right;
  bottom: 5px;
  right: 5px;
}

.tooltip.active {
  opacity: 1;
}

.tooltip2 {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #000000;
  padding: 10px;
  pointer-events: none;
  border-radius: 6px;
  font-size: 11px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tooltitle {
  font-size: 15px;
}

.bar {
  fill: steelblue;
  transition: fill 0.3s ease-in-out;
  border-radius: 8px;
  position: relative;
}
.bar:hover {
  fill: #0dc6ff;
  transition: fill 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    stroke 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.visL {
  width: 40%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
}

.visR {
  width: 40%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
}

.textL {
  width: 60%;
  height: 600px;
  padding: 2%;
}

.textR {
  width: 60%;
  height: 600px;
  float: right;
  padding: 2%;
}
