body {
    background-image: linear-gradient( rgb(175, 207, 223), rgb(74, 155, 177), rgb(41, 91, 115));
    background-color:rgb(175, 207, 223);
    font-family: arial, sans-serif;
    background-attachment: fixed;
}

h1  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(74, 155, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: rgb(38, 116, 137);
  }

/*menu*/
.menu{
    margin: 10px;
}

.menuUnderside{
    border: 2px solid rgb(74, 155, 177);
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: rgb(206, 247, 254);
    font-size: 25px;
}

.nuværendeUnderside{
    border: 3.5px solid rgb(47, 141, 167);
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: rgb(206, 247, 254);
    font-size: 25px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

/*Mockup */

#div1 {
width: 95%;
height: 600px;
background-color: lightgrey;
margin: 2%;
}

#div1_1 {
    width: 40%;
    height: 600px;
    background-color: white;
    }

    #div1_2 {
        width: 40%;
        height: 600px;
        background-color: white;
        position: relative;
        float: right;
        }