/* HTML Tags */
body {
  background-image: linear-gradient(rgb(203, 219, 227), rgb(24, 70, 91));
  background-color: #a2c8e2;
  font-family: "Arial", sans-serif;
  margin: 50px;
}

button {
  padding: 20px 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: #a91b1b;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: #79b9e4;
}

button#prev-btn {
  display: none;
  background-color: #f44336;
  margin-right: 10px;
}

button#prev-btn:hover {
  background-color: #d32f2f;
}

button#reset-btn {
  display: none;
  background-color: #f44336;
  margin-top: 10px;
}

button#reset-btn:hover {
  background-color: #d32f2f;
}

input[type="radio"] {
  transform: scale(1.5);
  margin: auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  size: 500px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
}
label {
  background-color: #79b9e4;
  padding: 7px 12px;
  margin: 5px;
  border-radius: 10px;
}
p,
label {
  font-size: 20px;
  margin: 10px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  size: 500px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* HTML IDs */

#quiz-container {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
}

#next-btn {
  display: none;
}

#last-question #next-btn {
  display: inline-block;
}

#start-slide {
  display: block;
}

#audio-controls {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#volume-slider {
  width: 20%;
  margin: 0 5px;
}

#play-pause-button {
  background-color: #79b9e4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#play-pause-button:hover {
  background-color: #2980b9;
}

#result-image,
#sharkman {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 100px;
  padding: 50px;
  box-shadow: #000000 2px 4px 6px;
  margin: 95px;
}

#turtle {
  position: absolute;
  left: 5%;
  transform: scaleX(-1);
  top: 50%;
}
#turtle2 {
  position: absolute;
  right: 5%;
  top: 10%;
}
#turtle3 {
  position: absolute;
  right: 5%;
  top: 70%;
}
#turtle,
#turtle2,
#turtle3:hover {
  cursor: grabbing;
}

#seaweed {
  position: absolute;
  left: 0%;
  bottom: -35%;
}
#seaweed2 {
  position: absolute;
  right: 0%;
  bottom: -35%;
}
#menu a {
  position: absolute;
  top: 50px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(74, 155, 177);
  border-radius: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  background-color: rgb(206, 247, 254);
  font-size: 25px;
  text-decoration: none;
  color: rgb(74, 155, 177);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#menu a:hover {
  color: rgb(38, 116, 137);
}

/* HTML Classes */

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100%;
}

.answer-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 4px #fff, 0 0 0 3px #000000;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 10px;
  justify-content: center;
}

.quiz-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
