body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 50px;
}

.quiz-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#quiz-container {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
}

/* Style the button */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #a91b1b;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

#next-btn {
  display: none; /* Hide next button initially */
}

/* Style the last question's next button to show result */
#last-question #next-btn {
  display: inline-block;
}

/* Style the previous button */
button#prev-btn {
  display: none; /* Hide previous button initially */
  background-color: #f44336;
  margin-right: 10px;
}

button#prev-btn:hover {
  background-color: #d32f2f;
}

/* Style the reset button */
button#reset-btn {
  display: none; /* Hide reset button initially */
  background-color: #f44336;
  margin-top: 10px;
}

button#reset-btn:hover {
  background-color: #d32f2f;
}

#start-slide {
  display: block;
}

/* Add this style for the answer-container */
.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100%;
}
/* Style the answer images */
.answer-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 10px;
  justify-content: center;
}
input[type="radio"] {
  transform: scale(1.5);
  margin: auto;
}

p {
  font-size: 20px;
  margin: 10px;
}

#audio-controls {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#volume-slider {
  width: 20%;
  margin: 0 5px;
}

#play-pause-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#play-pause-button:hover {
  background-color: #2980b9;
}
