

body {
    background-image: linear-gradient( rgb(175, 207, 223), rgb(74, 155, 177), rgb(41, 91, 115));
    background-color:rgb(175, 207, 223);
    font-family: arial, sans-serif;
    background-attachment: fixed;
    position: relative;
}
svg {
    display: block;
    margin: auto; /* Center the SVG horizontally */
    margin-top: 100px; /* Add some top margin for spacing */
}
.country {
    stroke: #000000; /* Country border color */
    stroke-width: 0.5; /* Country border width */
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out; /* Add smooth transition effects */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    position: relative;
}
.country:hover {
    fill: #ffc107;
    stroke: #ff9800;
    transition: fill 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), stroke 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: #303030; /* Tooltip background color */
    color: #ffffff; /* Tooltip text color */
    border: 1px solid #ffffff; /* Tooltip border color */
    border-radius: 6px;
    pointer-events: none;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top: 5%;
    transform: translate(-50%, -50%); /* Center the tooltip */
}

.tooltip.active {
    opacity: 1;
}
