

.country:hover {
    fill: yellow; /* Change the color as desired */
    stroke: red; /* Change the color as desired */
}


.tooltip {
    position: absolute;
    padding: 8px;
    background-color: rgb(153, 142, 142);
    border: 1px solid #0a0202;
    border-radius: 4px;
    pointer-events: none;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


